.PlayerInfo {
  display: flex;
  flex-direction: column;
  // max-width: 400px;
  padding: 12px;
  transition: background-color 0.3s;

  &__isActive {
    background-color: #1e97d214;
  }

  &_header {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
  }

  .PlayerScore {
    color: red;
  }

  .PlayerName {
    color: green;
  }

  .ColorList {
    display: flex;
    column-gap: 8px;

    &_column {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }

  .CardsList {
    display: flex;
    &_column {
      flex: 1;
    }
  }
}
