$red_gem_light: #762b2e;
$black_gem_light: #3e3e3e;
$blue_gem_light: #22395d;
$white_gem_light: #a49c95;
$green_gem_light: #21482e;
$gold_gem_light: #a49b3b;

$red_gem: #882a2e;
$black_gem: #3f3939;
$blue_gem: #224173;
$white_gem: #959ea6;
$green_gem: #166735;
$gold_gem: #f5ea42;

.Noble {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #9e9e9e;
  padding: 12px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  transition: border-color 0.3s;

  &_score {
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    right: 0;
    top: 0;
  }

  &_info {
    display: flex;
    position: relative;
    height: 100%;
  }

  &_requirements {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
    margin-right: auto;
    row-gap: 4px;
    column-gap: 4px;
    height: 100%;
    flex-wrap: wrap;
  }

  &__sm {
    width: 100px;
    height: 110px;
  }

  &__xs {
    width: 70px;
    height: 80px;
    padding: 6px;
    font-size: 14px;
    // transform: scale(0.6);
  }
}

.Requirement {
  position: relative;
  // &_value {
  //   font-size: 16px;
  //   background-color: #a49c95;
  //   // padding: 4px;
  //   border-radius: 50%;
  //   width: 18px;
  //   height: 18px;
  //   position: absolute;
  //   left: -4px;
  //   top: -4px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.RequirementCard {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 4px;
  // width: 50px;
  // height: 100px;
  &__Red {
    background-color:$red_gem;
    // border-color: $red_gem_light;
  }
  &__Black {
    background-color:$black_gem;
    // border-color: $black_gem_light;
  }
  &__Blue {
    background-color:$blue_gem;
    // border-color: $blue_gem_light;
  }
  &__White {
    background-color:$white_gem;
    // border-color: $white_gem_light;
  }
  &__Green {
    background-color:$green_gem;
    // border-color: $green_gem_light;
  }
  &__Gold {
    background-color:$gold_gem;
    // border-color: $gold_gem_light;
  }

  &_value {
    font-weight: 500;
  }
}

.NobleStack {
  // width: 100px;
  position: relative;
  &_item {
    &:not(:first-child) {
      position: absolute;
    }
  }

  &_card {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      // z-index: 999;
    }
  }
}