.GameTable {
  display: flex;
}


.GameTable_mainColumn {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1;
}



.DeckLevelRow {
  display: flex;
  height: 140px;
  column-gap: 12px;
}

.Deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 24px;
  border-radius: 12px;
}


.GameTableTokens {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

