.CardModal {
  &_content {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }

  &_cardColumn {
    flex: 1;
  }

  &_controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 12px;
    margin-top: 12px;
  }

  &_controlsColumn {
    flex: 1;
  }
}

.DeckCards {
  transform: scale(1.5);
  border-color: grey;
  cursor: pointer;
  transition: border-color 0.3s;
  &:hover {
    border-color: #e91e63;
  }
  &__First {
    background-color: #204127;
  }
  &__Second {
    background-color: #987138;
  }
  &__Third {
    background-color: #136f9a;
  }
}

.GameTableGems {
  margin-top: 24px;

  &__disabled {
    opacity: 0.3;
  }

  .Columns {
    display: flex;

    &_column {
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }
}
