.GameTable {
  display: flex;
}


.GameTable_mainColumn {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1;
}



.DeckLevelRow {
  display: flex;
  height: 180px;
  column-gap: 12px;
}

.Deck {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #e5db67;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  margin-right: 24px;
  border-radius: 12px;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  background-color: #9e9e9e;
  padding: 12px;
  border-radius: 12px;
  transition: opacity 0.5s;
}

.Card:hover{
  cursor: pointer;
  opacity: 0.7;
}

.Card_header {
  display: flex;
  justify-content: space-between;
}

.Card_headerScore {
  /* flex: 1; */
  font-size: 24px;
}

.Card_headerColor {
  /* flex: 1; */
}

.Card_cost {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-right: auto;
  row-gap: 4px;
}

.Card_costItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.Card_costItem__Red {
  background-color: #c12e35;
}
.Card_costItem__Black {
  background-color: #14150c;
}
.Card_costItem__Blue {
  background-color: #224173;
}
.Card_costItem__White {
  background-color: #dfd4ca;
}
.Card_costItem__Green {
  background-color: #166735;
}

.Deck__First {
  background-color: #136f9a;
}

.Deck__Second {
  background-color: #987138;
}
.Deck__Third {
  background-color: #204127;
}

.GameTable_sideColumn {
  padding: 24px;
}

.GameTableTokens {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.GameTableTokens_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 4px;
  border-style: double;
  font-size: 24px;
}

.GameTableTokens_item__active {
  cursor: pointer;
  
}

.GameTableTokens_item__active:hover{
  opacity: 0.8;
}

.GameTableTokens_item__Red {
  border-color: #c12e35;
}
.GameTableTokens_item__Black {
  border-color: #14150c;
}
.GameTableTokens_item__Blue {
  border-color: #224173;
}
.GameTableTokens_item__White {
  border-color: #dfd4ca;
}
.GameTableTokens_item__Green {
  border-color: #166735;
}
.GameTableTokens_item__Gold {
  border-color: #f5ea42;
}
