
.GemsList {
  display: flex;
  row-gap: 14px;
  column-gap: 14px;
}

.GemsList__horizontal {
  flex-direction: row;
}

.GemsList__vertical {
  flex-direction: column
}

.GemsList_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 4px;
  border-style: double;
  font-size: 24px;
}

.GemsList_item__active {
  cursor: pointer;
  
}

.GemsList_item__active:hover{
  opacity: 0.8;
}

.GemsList_item__Red {
  border-color: #c12e35;
}
.GemsList_item__Black {
  border-color: #14150c;
}
.GemsList_item__Blue {
  border-color: #224173;
}
.GemsList_item__White {
  border-color: #dfd4ca;
}
.GemsList_item__Green {
  border-color: #166735;
}
.GemsList_item__Gold {
  border-color: #f5ea42;
}